﻿@font-face {
    font-family: 'Glyphicons Halflings'; /*title*/
    src: url('/Styles/Fonts/glyphicons/glyphicons-halflings-regular.eot');
    src: url('/Styles/Fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/Styles/Fonts/glyphicons/glyphicons-halflings-regular.woff') format('woff'), url('/Styles/Fonts/glyphicons/glyphicons-halflings-regular.woff2') format('woff2'), url('/Styles/Fonts/glyphicons/glyphicons-halflings-regular.ttf') format('truetype'), url('/Styles/Fonts/glyphicons/glyphicons-halflings-regular.svg#svgFontName') format('svg');
}

.redColor {
    color: red;
}

.gridviewMultipleItem a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e165";
    color: red;
    padding-right: 10px;
}

#gridView th {
    text-align: left !important;
    direction: rtl;
    padding: 10px;
    color: white !important;
    background-color: #3699A7 !important;
    border-width: 0px;
}

.FirstColor {
    color: #3699A7 !important;
}

body {

}

a:hover {
    text-decoration: none !important;
}

.hyperLinks {
    text-decoration: none;
    color: white;
}

.hyperLinks:hover {
    color: #f8c93e;
    text-decoration: none;
}

.hyperlinkSearchResult {
    color: #3699A7 !important;
    text-decoration: none;
}

.hyperlinkGroupMajor {
    color: #3699A7 !important;
    text-decoration: none;
}

.hyperlinkGroupMajor :hover {
    color: blue;
    text-decoration: underline;
}

/**************************************Pagination IFCE***********************/
.pagination-ys {
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination-ys table > tbody > tr > td {
    display: inline;
}

.pagination-ys table > tbody > tr > td > a,
.pagination-ys table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #dd4814;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}

.pagination-ys table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    margin-left: -1px;
    z-index: 2;
    color: #aea79f;
    background-color: #f5f5f5;
    border-color: #dddddd;
    cursor: default;
}

.pagination-ys table > tbody > tr > td:first-child > a,
.pagination-ys table > tbody > tr > td:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.pagination-ys table > tbody > tr > td:last-child > a,
.pagination-ys table > tbody > tr > td:last-child > span {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.pagination-ys table > tbody > tr > td > a:hover,
.pagination-ys table > tbody > tr > td > span:hover,
.pagination-ys table > tbody > tr > td > a:focus,
.pagination-ys table > tbody > tr > td > span:focus {
    color: #97310e;
    background-color: #eeeeee;
    border-color: #dddddd;
}
